<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>X Store</title>
    <link rel="stylesheet" href="./styling/style.css" />
  </head>
  <body>
    <nav>
      <h1>X <span style="color: black">Store</span></h1>
      <input type="text" class="search_bar" placeholder="Search products..." />
      <a href="cart.html"><div class="cart" style="text-decoration: none;">🛒 <span style="color: black; text-decoration: none;">0</span></div></a>
    </nav>
    <div class="products-section">
      <div class="products-grid">        
      </div>
    </div>
  </body>
  <script src="./template/app.js"></script>
</html>
